.Input{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label{
  font-style: italic;
  display: block;
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 4px;
}

.InputElement{
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}


.InputElement:focus{
  outline: none;
  background-color: #ccc;
  border: 1px solid #b1ffb7;
}

.Invalid {
  border: 1px solid red;
  background-color: #f4b5b3;
}

.Invalid:focus {
  border: 1px solid red;
  background-color: #f4b5b3;
}


@media (min-width: 500px) {
  .Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

}
